# configure
Makefile
.deps/
/config.h
/config.log
/config.status
/libtool
/os-daq-modules/daq-modules-config
sfbpf/.deps/
/stamp-h1
api/.libs/

# make
*.lo
*.o
*.la
/autom4te.cache/
.libs/
/sfbpf/sf_grammar.c
/sfbpf/sf_scanner.c
/sfbpf/sf_scanner.h
/sfbpf/tokdefs.h
